.about {
  position: relative;
  margin-bottom: 60px;
  padding-top: 80px;
  background-image: url("../img/about__bg.png");
  background-position: center top -110px;
  background-size: cover;
  background-repeat: no-repeat;

  &__content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include mq(985) {
      margin-bottom: 35px;
    }

    @include mq(915) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__left {
    z-index: 2;
    display: flex;
    justify-content: flex-end;

    picture {
      align-self: flex-end;
      margin-right: 30px;
    }

    @include mq(985) {
      position: relative;
      flex-direction: column;
    }

    @include mq(915) {
      align-items: center;
      padding-top: 500px;
    }

    @include mq(768) {
      padding-top: 400px;
    }

    @include mq(460) {
      align-items: flex-start;
      padding-top: 320px;
    }
  }

  &__director-image {
    margin-right: 0;
    margin-bottom: -100px;
    margin-left: auto;

    @include mq(985) {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
    }

    @include mq(915) {
      left: 50%;
      transform: translateX(-50%);
    }

    @include mq(460) {
      bottom: -10%;
    }

    @include mq(425) {
      width: 480px;
      height: 750px;
    }
  }

  &__right {
    margin-bottom: 300px;
    padding-right: 42px;
    padding-left: 50px;

    @include mq(985) {
      margin-bottom: 0;
    }

    @include mq(768) {
      padding: 0;
    }
  }

  &__title {
    margin-bottom: 30px;
    text-align: left;
  }

  &__short-text {
    position: absolute;
    left: 0;
    top: 7%;
    max-width: 235px;

    @include mq(985) {
      position: static;
      max-width: none;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 130%;
    color: var(--color-text-light);

    span {
      font-weight: 700;
      color: #fd071d;
    }

    &--underline {
      position: relative;
      z-index: 1;
      display: inline-block;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 2px;
        z-index: -1;
        width: 100%;
        height: 6px;
        background-color: #7a1717;
      }
    }

    @include mq(460) {
      font-size: 16px;
    }
  }

  &__director-name {
    position: absolute;
    left: 13%;
    bottom: 40%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    padding: 18px 32px;
    max-width: 245px;
    box-shadow: 0 25px 50px #000;
    background: linear-gradient(134.34deg, #61666f 21.95%, #26272f 75.53%);

    @include mq(1125) {
      bottom: 30%;
    }

    @include mq(985) {
      position: static;
    }
  }

  &__name {
    font-family: "BebasNeue", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 108%;
    letter-spacing: 0.03em;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(180deg, #fff 0%, #c4c4c4 100%);
    -webkit-background-clip: text;
    background-clip: text;
    text-fill-color: transparent;

    @include mq(460) {
      font-size: 20px;
    }
  }

  &__position {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    color: #f2f1f1;

    @include mq(460) {
      font-size: 12px;
    }
  }

  &__video-block {
    position: absolute;
    right: 5%;
    bottom: 11%;
    display: inline-flex;
    align-items: center;
    max-width: 400px;

    @include mq(985) {
      position: static;
    }
  }

  &__video-descr {
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: #f2f1f1;

    @include mq(460) {
      max-width: 40%;
      font-size: 13px;
    }
  }

  &__video-link {
    border-bottom: 1px solid #677fbd;
    color: currentcolor;
  }

  &__video-image {
    display: block;
    border: 5px solid #5c5c5c;
    border-radius: 50%;

    @include mq(460) {
      width: 110px;
      height: 110px;
    }
  }

  &__video-button {
    position: relative;
    flex-shrink: 0;

    &::before {
      content: "";
      position: absolute;
      left: 50px;
      top: 50px;
      z-index: 1;
      width: 42px;
      height: 42px;
      background-image: url("../img/play.svg");
      background-size: cover;
      background-repeat: no-repeat;
      transform: translate(50%, 50%);

      @include mq(460) {
        left: 28px;
        top: 28px;
        width: 28px;
        height: 28px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0;
      transition: opacity var(--transition-time);
    }

    &:hover {
      &::after {
        opacity: 0.2;
      }
    }
  }

  &__slogan {
    position: absolute;
    left: 14%;
    bottom: 12%;
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    padding: 26px 38px 35px 17px;
    max-width: 425px;
    box-shadow: 0 25px 50px #000;
    background: linear-gradient(209.69deg, rgba(190 191 194 / 83.7%) 11.86%, rgba(74 75 79 / 81.9%) 84.33%);

    .pdf-icon__wrapper {
      left: 0;
      right: auto;
      top: 0;
      transform: translate(-50%, -50%);

      path {
        fill: #b50909;
        transition: all var(--transition-time);
      }

      &:hover {
        path {
          fill: #fff;
        }
      }
    }

    .pdf-icon {
      @include mq(460) {
        width: 18px;
        height: 18px;

        svg {
          width: 4px;
          height: 11px;
        }
      }
    }

    @include mq(1125) {
      max-width: 350px;
    }

    @include mq(985) {
      position: relative;
      left: 0;
      bottom: 0;
    }

    @include mq(460) {
      padding: 12px 20px 18px 10px;
    }
  }

  &__slogan-text {
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    line-height: 110%;
    color: var(--color-text-light);

    @include mq(1125) {
      font-size: 16px;
    }

    @include mq(460) {
      font-size: 12px;
    }
  }

  &__signature {
    @include mq(460) {
      width: 46px;
      height: 46px;
      background-size: cover;
    }
  }

  &__cards {
    position: relative;
    z-index: 2;
    display: grid;
    column-gap: 16px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    max-width: 90%;
    transform: translateY(-50px);

    @include mq(985) {
      transform: translate(0);
    }

    @include mq(768) {
      justify-content: center;
      grid-template-columns: 300px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding-top: 32px;
    padding-bottom: 14px;
    background-image: linear-gradient(209.69deg, #585858 11.86%, #2f2924 84.33%);

    &-text {
      margin-bottom: 20px;
      font-weight: 400;
      font-size: 26px;
      line-height: 100%;
      letter-spacing: 0.03em;
      text-align: center;
      -webkit-text-fill-color: transparent;
      background: linear-gradient(180deg, #fff 0%, #c4c4c4 100%);
      -webkit-background-clip: text;
      background-clip: text;
      text-fill-color: transparent;

      @include mq(915) {
        font-size: 22px;
      }

      @include mq(425) {
        margin-bottom: 10px;
        font-size: 16px;
      }
    }

    &-number {
      font-family: "BebasNeue", sans-serif;
      font-weight: 700;
      font-size: 61px;
      line-height: 120%;
      letter-spacing: 0.03em;
      text-align: center;
      -webkit-text-fill-color: transparent;
      background: linear-gradient(180deg, #e11b3f 0%, #6f1a1c 100%);
      -webkit-background-clip: text;
      background-clip: text;
      text-fill-color: transparent;

      span {
        font-size: 0.8em;
      }

      @include mq(915) {
        font-size: 50px;
      }

      @include mq(425) {
        font-size: 38px;
      }
    }

    @include mq(768) {
      margin-bottom: 15px;
    }

    @include mq(425) {
      padding-top: 22px;
    }
  }

  @include mq(1125) {
    padding-top: 0;
  }

  @include mq(768) {
    background-position: center bottom 490px;
    background-size: 360%;
  }
}

.gradient {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(180deg, rgba(31 26 26 / 100%) 0%, rgba(31 26 26 / 0%) 100%);

  &--bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 300px;
    background-image: linear-gradient(0deg, rgba(31 26 26 / 100%) 0%, rgba(31 26 26 / 80%) 60%, rgba(31 26 26 / 0%) 100%);

    @include mq(985) {
      height: 200px;
    }

    @include mq(768) {
      bottom: 20%;
    }
  }

  @include mq(550) {
    top: 25%;
  }

  @include mq(425) {
    display: none;
  }
}

.box-1 {
  position: absolute;
  left: -18%;
  bottom: -10%;
  z-index: 0;
  width: 600px;
  height: 525px;
  background-image: url("../img/box-1.png");
  background-repeat: no-repeat;

  @include mq(985) {
    display: none;
  }
}

.box-2 {
  position: absolute;
  right: 2%;
  bottom: -5%;
  z-index: 0;
  width: 620px;
  height: 480px;
  background-image: url("../img/box-2.png");
  background-repeat: no-repeat;

  @include mq(985) {
    display: none;
  }
}
