<section class="advantages" id="advantages">
  <div class="container advantages__container">
    <h2 data-aos="fade-up" class="section-title advantages__title">Почему франшиза магазина автозапчастей — это выгодный бизнес</h2>
    <div class="advantages__list">
      <div class="advantages__col advantages__col--second">
        <div class="advantages__item">
          <div class="advantages__number">2</div>
          <h3 class="advantages__item-title">Постоянно растущий спрос на запчасти.</h3>
          <div class="advantages__item-descr">Выгоднее ремонтировать, чем покупать новый.</div>
        </div>
        <div class="advantages__item">
          <div class="advantages__number">3</div>
          <h3 class="advantages__item-title">Бизнес не зависит от сезона. </h3>
          <div class="advantages__item-descr">Ремонт требуется круглый год.</div>
        </div>
        <div class="advantages__item">
          <div class="advantages__number">4</div>
          <h3 class="advantages__item-title">Автоматизация всех процессов</h3>
        </div>
      </div>
      <div class="advantages__col advantages__col--first">
        <div class="advantages__item">
          <div class="advantages__number">1</div>
          <h3 class="advantages__item-title">Вы получаете уже полностью готовый бизнес</h3>
        </div>
        <div class="advantages__image-block">
          <picture>
            <source srcset="img/advantages-book.avif" type="image/avif">
            <source srcset="img/advantages-book.webp" type="image/webp">
            <img loading="lazy" src="img/advantages-book.png" class="advantages__image" width="650" height="545" alt="">
          </picture>
          <div class="pdf-icon__wrapper">
            <div class="pdf-icon">PDF</div>
          </div>
        </div>
      </div>
      <div class="advantages__col advantages__col--third">
        <div class="advantages__item">
          <div class="advantages__number">5</div>
          <h3 class="advantages__item-title">Закупочные цены с дилерской скидкой
            </h3>
        </div>
        <div class="advantages__item">
          <div class="advantages__number">6</div>
          <h3 class="advantages__item-title">Средний годовой оборот одной точки 11&nbsp;880&nbsp;000&nbsp;руб.</h3>
        </div>
        <div class="advantages__item">
          <div class="advantages__number">7</div>
          <h3 class="advantages__item-title">Средний чек 3000 руб</h3>
        </div>
        <div class="advantages__item">
          <div class="advantages__number">8</div>
          <h3 class="advantages__item-title">Более 4000 клиентов в год</h3>
        </div>
      </div>
    </div>
    <div class="advantages__button-wrapper">
      <div class="button__wrapper advantages__button">
        <button class="btn-reset button button--main" data-graph-path="business">
          Скачать бизнес-план
        </button>
      </div>
    </div>
  </div>
  <div class="advantages__decor-1"></div>
  <div class="advantages__decor-2"></div>
</section>
