<section class="benefit" id="benefit">
  <div class="container benefit__container">
    <h2 data-aos="fade-up" class="section-title benefit__title">Что даём вам именно мы, преимущества франшизы </h2>
    <div class="benefit__list">
      <div class="benefit__item">
        <div class="benefit__item-image">
          <picture>
            <source srcset="img/benefit-image-1.avif" type="image/avif">
            <source srcset="img/benefit-image-1.webp" type="image/webp">
            <img loading="lazy" src="img/benefit-image-1.png" class="benefit__image" width="432" height="270" alt="Помогаем в открытии розничного магазина">
          </picture>
        </div>
        <div class="benefit__item-text">
          <h3 class="benefit__item-title">Помогаем в открытии розничного магазина </h3>
          <ul class="benefit__item-list list-reset">
            <li class="benefit__item-list-item">консультируем по подбору расположения торговой точки,</li>
            <li class="benefit__item-list-item">предоставляем готовый дизайн магазина,</li>
            <li class="benefit__item-list-item">подбираем и обучаем персонал,</li>
            <li class="benefit__item-list-item">помогаем с подбором торгового оборудования,</li>
            <li class="benefit__item-list-item">помогаем с оформлением контрольно-кассового оборудования,</li>
            <li class="benefit__item-list-item">предоставляем макеты рекламной продукции</li>
          </ul>
        </div>
      </div>
      <div class="benefit__item">
        <div class="benefit__item-image">
          <picture>
            <source srcset="img/benefit-image-2.avif" type="image/avif">
            <source srcset="img/benefit-image-2.webp" type="image/webp">
            <img loading="lazy" src="img/benefit-image-2.png" class="benefit__image" width="432" height="270" alt="Настраиваем онлайн-магазин и рекламу">
          </picture>
        </div>
        <div class="benefit__item-text">
          <h3 class="benefit__item-title">Настраиваем онлайн-магазин и рекламу</h3>
          <ul class="benefit__item-list list-reset">
            <li class="benefit__item-list-item">вы получаете полностью готовый к работе интернет-магазин,</li>
            <li class="benefit__item-list-item">программный комплекс позволяет вам и клиентам видеть складские остатки товара,</li>
            <li class="benefit__item-list-item">простой и удобный интерфейс,</li>
            <li class="benefit__item-list-item">быстрый доступ к истории заказов, информации о клиентах и поставщиках,</li>
            <li class="benefit__item-list-item">моментальные рассылки по клиентской базе</li>
          </ul>
        </div>
      </div>
      <div class="benefit__item">
        <div class="benefit__item-image">
          <picture>
            <source srcset="img/benefit-image-3.avif" type="image/avif">
            <source srcset="img/benefit-image-3.webp" type="image/webp">
            <img loading="lazy" src="img/benefit-image-3.png" class="benefit__image" width="432" height="270" alt="Обучаем персонал, оказываем постоянную поддержку и сопровождение">
          </picture>
        </div>
        <div class="benefit__item-text">
          <h3 class="benefit__item-title">Обучаем персонал, оказываем постоянную поддержку и сопровождение</h3>
          <ul class="benefit__item-list list-reset">
            <li class="benefit__item-list-item">бесплатное обучение,</li>
            <li class="benefit__item-list-item">фирменная корпоративная одежда,</li>
            <li class="benefit__item-list-item">настройка корпоративной электронной почты</li>
          </ul>
        </div>
      </div>
      <div class="benefit__item">
        <div class="benefit__item-image">
          <picture>
            <source srcset="img/benefit-image-4.avif" type="image/avif">
            <source srcset="img/benefit-image-4.webp" type="image/webp">
            <img loading="lazy" src="img/benefit-image-4.png" class="benefit__image" width="432" height="270" alt="Настраиваем онлайн-магазин и рекламу">
          </picture>
        </div>
        <div class="benefit__item-text">
          <h3 class="benefit__item-title">Настраиваем онлайн-магазин и рекламу</h3>
          <ul class="benefit__item-list list-reset">
            <li class="benefit__item-list-item">размещаем контакты франчайзи на нашем официальном сайте partspoint.su,</li>
            <li class="benefit__item-list-item">публикуем новости и материалы об открытии нового магазина на своих страницах в социальных сетях,</li>
            <li class="benefit__item-list-item">помогаем в создании и оформлении своей страницы,</li>
            <li class="benefit__item-list-item">оказываем маркетинговую поддержку</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="benefit__footer">
      <div class="benefit__footer-left">
        <div class="benefit__footer-subtitle">Самостоятельный запуск магазина обойдётся Вам минимум</div>
        <div class="benefit__footer-income">в 1,1 млн. рублей/год</div>
        <div class="benefit__footer-warning">
          <picture>
            <source srcset="img/benefits-detail.avif" type="image/avif">
            <source srcset="img/benefits-detail.webp" type="image/webp">
            <img loading="lazy" src="img/benefits-detail.png" class="benefit__footer-warning-image" width="125" height="138" alt="">
          </picture>
          <div class="benefit__footer-warning-text">При самостоятельной закупке можно вернуть далеко не весь товар и у вас со временем накопится куча никому не нужного товара.</div>
        </div>
      </div>
      <div class="benefit__footer-right">
        <h3 class="benefit__footer-title">Запуск по франшизе  в 3 раза дешевле!</h3>
        <ul class="list-reset benefit__footer-list">
          <li class="benefit__footer-item">Учитывая тот факт, что <span class="benefit__footer-text--red">к сетевым компаниям поставщики намного более лояльны</span>, чем к розничным магазинам, с нами выгоднее за счёт того, что вы будете закупать товар с дополнительной скидкой.</li>
          <li class="benefit__footer-item">У нас поставщики <span class="benefit__footer-text--red">забирают абсолютно всё, включая электротовары.</span></li>
        </ul>
        <div class="benefit__footer-checklist">
          <div class="benefit__footer-checklist-item">Открываем магазин <span class="benefit__footer-text--red">под ключ.</span></div>
          <div class="benefit__footer-checklist-item">Отвечаем <span class="benefit__footer-text--red">на все вопросы.</span></div>
          <div class="benefit__footer-checklist-item">Помогаем и поддерживаем <span class="benefit__footer-text--red">на всех этапах.</span></div>
          <div class="benefit__footer-checklist-item">А главное выводим магазин
            на прибыль <span class="benefit__footer-text--red">за короткое время.</span></div>
        </div>
      </div>
      <div class="wheel-2"></div>
    </div>
    <div class="benefit__button">
      <span class="benefit__button-text">Посмотреть и сравнить все траты можно
        в специальной таблице нашей презентации</span>
      <div class="button__wrapper">
        <button class="btn-reset button button--main" data-graph-path="presentation">
          Смотреть презентацию
        </button>
      </div>
    </div>
  </div>
  <div class="wheel-1"></div>
</section>
