<section class="calculator" id="calculator">
  <div class="container calculator__container">
    <h2 data-aos="fade-up" class="section-title calculator__title">Рассчитайте вашу прибыль с помощью калькулятора</h2>
    <div class="calculator__slider">
      <div class="calculator__slider-title">Выберите количество клиентов в день</div>
      <div class="calculator__slider-body" id="slider-days"></div>
    </div>
    <div class="calculator__slider">
      <div class="calculator__slider-title">Выберите период, мес</div>
      <div class="calculator__slider-body" id="slider-mounth"></div>
    </div>
    <div class="calculator__block">
      <div class="calculator__text"><strong>Чистая прибыль</strong> за выбранный период с учетом всех расходов:</div>
      <div class="calculator__total">
        <div class="calculator__total-number">1 100 000</div>
        <span class="calculator__total-text">руб</span>
      </div>
      <div class="calculator__note">*Предварительный расчет</div>
      <div class="calculator__small-text">Свяжитесь с нами для консультации, чтобы мы могли точнее рассчитать вашу выгоду с учетом всех нюансов</div>
      <div class="button__wrapper calculator__button">
        <button class="btn-reset button button--main" data-graph-path="consulting">
          Проконсультироваться
        </button>
      </div>
    </div>
  </div>
  <div class="calculator__decor-1"></div>
  <div class="calculator__decor-2"></div>
</section>
