<section class="callback">
  <div class="container callback__container">
    <form class="callback__form form" action="#">
      <h2 data-aos="fade-up" class="section-title callback__title">Хотите открыть собственный бизнес и <span>выйти на прибыль за короткое время?</span></h2>
      <div class="form__subtitle">Тогда Франшиза интернет-магазина автозапчастей для вас!</div>
      <div class="form__text">Где вам удобнее получить коммерческое предложение?</div>
      <div class="form__buttons">
        <div class="social-button__radio-wrapper">
          <input class="visually-hidden" type="radio" name="social" id="social-tg" checked>
          <div class="form__button social-button social-button--tg">
            Telegram
            <svg class="social-button__icon">
              <use xlink:href="img/sprite.svg#tg-button-icon"></use>
            </svg>
          </div>
        </div>
        <div class="social-button__radio-wrapper">
          <input class="visually-hidden" type="radio" name="social" id="social-wa">
          <div class="form__button social-button social-button--wa">
            Whatsapp
            <svg class="social-button__icon">
              <use xlink:href="img/sprite.svg#wa-button-icon"></use>
            </svg>
          </div>
        </div>
      </div>
      <label class="form__input form__input--tel">
        <input class="form__input-field" type="tel" name="client-phone" id="client-phone" placeholder="+7 (___) ___-__-__">
      </label>
      <button class="btn-reset button button--main form__button-submit">
        Получить коммерческое предложение
      </button>
    </form>
  </div>
  <div class="callback__decor-1"></div>
  <div class="callback__decor-2"></div>
</section>
