<section class="contacts" id="contact">
  <div class="container contacts__container">
    <div class="contacts__info">
      <div class="contacts__suptitle-wrapper">
        <div class="contacts__suptitle">Откройте магазин в своём городе всего за 3 дня</div>
      </div>
      <div class="contacts__info-block">
        <div class="contacts__title">Узнайте свободен ли ваш город</div>
        <div class="contacts__info-list">
          <div class="contacts__info-item contacts__info-item--line contacts__info-item--phone">
            <div class="contacts__info-item-title">Звоните:</div>
            <a class="contacts__info-phone" href="tel:+79281498075">
              8-928-149-80-75
            </a>
          </div>
          <div class="contacts__info-item contacts__info-item--line contacts__info-item--mail">
            <div class="contacts__info-item-title">Почта:</div>
            <a class="contacts__info-mail" href="mailto:super@franshiza-partspoint.su">super@franshiza-partspoint.su</a>
          </div>
          <div class="contacts__info-item contacts__info-item--social">
            <div class="contacts__info-item-title">Пишите:</div>
            <div class="contacts__info-item-social">
              <a class="contacts__info-item-social-link" href="https://t.me/podandr">
                <svg class="contacts__info-item-icon contacts__info-item-icon--tg">
                  <use xlink:href="img/sprite.svg#tg-icon-contacts"></use>
                </svg>
              </a>
              <a class="contacts__info-item-social-link contacts__info-item-icon--wa" href="https://wa.clck.bar/79281498075">
                <svg class="contacts__info-item-icon">
                  <use xlink:href="img/sprite.svg#wa-icon-contacts"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="contacts__info-item contacts__info-item--adress">
            <div class="contacts__info-item-title">Центральный офис:</div>
            <div class="contacts__info-name">PartsPoint</div>
            <a class="contacts__info-adress" href="">г. Зерноград, Ростовская обл.</a>
          </div>
        </div>
        <button class="btn-reset button button--main contacts__button" data-graph-path="city">
          Узнать
        </button>
      </div>
    </div>
  </div>
</section>
