<section class="hero">
  <div class="container hero__container">
    <div class="hero__text-block">
      <h1 data-aos="fade-up" class="hero__title">Открой <span>интернет-магазин автозапчастей</span> в своём городе за 3 дня и начни зарабатывать от 2 млн. в год</h1>
      <div class="hero__image-block">
        <picture>
          <source media="(max-width: 768px)" srcset="img/hero-image-mobile.avif" type="image/avif">
          <source media="(max-width: 768px)" srcset="img/hero-image-mobile.webp" type="image/webp">
          <source srcset="img/hero-image.avif" type="image/avif">
          <source srcset="img/hero-image.webp" type="image/webp">
          <source media="(max-width: 768px)" srcset="img/hero-image-mobile.png">
          <img loading="lazy" src="img/hero-image.png" class="hero__image" width="1010" height="761" alt="Изображение владельца компании">
        </picture>
      </div>
      <div class="hero__card-list">
        <div class="hero__card">
          <img loading="lazy" src="img/hero__card-icon-1.svg" class="hero__card-icon" width="55" height="55" alt="">
          <div class="hero__card-title">Чистая прибыль от <span>150 000 руб</span> в месяц</div>
        </div>
        <div class="hero__card">
          <img loading="lazy" src="img/hero__card-icon-2.svg" class="hero__card-icon" width="55" height="55" alt="">
          <div class="hero__card-title hero__card-title--fixed">Окупаемость <span>7 месяцев</span>
           </div>
        </div>
        <div class="hero__card">
          <img loading="lazy" src="img/hero__card-icon-3.svg" class="hero__card-icon" width="55" height="55" alt="">
          <div class="hero__card-title">Средняя маржа <span>60%</span>
          </div>
        </div>
      </div>
      <div class="button__wrapper hero__button">
        <button class="btn-reset button button--main" data-graph-path="presentation">
          Скачать презентацию <span>и финансовую модель</span>
        </button>
      </div>
    </div>
  </div>
  <div class="detail-1"></div>
  <div class="detail-2"></div>
  <div class="detail-3"></div>
  <div class="social-widget">
    <button class="btn-reset social-widget__button">
      <svg class="social-widget__icon">
        <use xlink:href="img/sprite.svg#social-button"></use>
      </svg>
    </button>
    <ul class="list-reset social-widget__list">
      <li class="social-widget__item">
        <a class="social-widget__link social-widget__link--phone" href="">
          <svg class="social-widget__link-icon">
            <use xlink:href="img/sprite.svg#social-button-phone"></use>
          </svg>
        </a>
      </li>
      <li class="social-widget__item">
        <a class="social-widget__link social-widget__link--wa" href="">
          <svg class="social-widget__link-icon">
            <use xlink:href="img/sprite.svg#social-button-wa"></use>
          </svg>
        </a>
      </li>
      <li class="social-widget__item">
        <a class="social-widget__link social-widget__link--tg" href="">
          <svg class="social-widget__link-icon">
            <use xlink:href="img/sprite.svg#social-button-tg"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
