<section class="modals">
  <div class="graph-modal">
    <div class="graph-modal__container modal modal--presentation" role="dialog" aria-modal="true" data-graph-target="presentation">
      <button class="js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
      <div class="graph-modal__content modal__content">
        <form class="modal__form form" action="#" id="modal-presentation">
          <div class="form__subtitle">Высылаем презентацию и финансовую модель в течение 5 минут</div>
          <label class="form__input form__input--name">
            <div class="form__input-label">Введите ваше имя</div>
            <input class="form__input-field" type="text" name="client-name" id="client-name-presentation" placeholder="Ваше имя">
          </label>
          <label class="form__input form__input--tel">
            <div class="form__input-label">Ваш телефон</div>
            <input class="form__input-field" type="tel" name="client-phone" id="client-phone-presentation" placeholder="+7 (___) ___-__-__">
          </label>
          <div class="form__text">В каком мессенджере отправить файлы?</div>
          <div class="form__buttons form__buttons--presentation">
            <label>
              <input class="visually-hidden" type="radio" name="social" id="social-tg-presentation" checked>
              <div class="form__button social-button social-button--tg">
                Telegram
                <svg class="social-button__icon">
                  <use xlink:href="img/sprite.svg#tg-button-icon"></use>
                </svg>
              </div>
            </label>
            <label>
              <input class="visually-hidden" type="radio" name="social" id="social-wa-presentation">
              <div class="form__button social-button social-button--wa">
                Whatsapp
                <svg class="social-button__icon">
                  <use xlink:href="img/sprite.svg#wa-button-icon"></use>
                </svg>
              </div>
            </label>
          </div>
          <button class="btn-reset button button--main form__button-submit">
            Получить сейчас
          </button>
          <label class="form__checkbox">
            <input class="form__checkbox-input visually-hidden" type="checkbox" name="checkbox-rule" id="checkbox-rule-presentation" checked>
            <span class="form__checkbox-label">Вы соглашаетесь на условия обработки персональных данных</span>
          </label>
        </form>
      </div>
    </div>
    <div class="graph-modal__container modal modal--business" role="dialog" aria-modal="true" data-graph-target="business">
      <button class="js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
      <div class="graph-modal__content modal__content">
        <form class="modal__form form" action="#" id="modal-business">
          <div class="form__subtitle">Высылаем бизнес-план в течение 5 минут</div>
          <label class="form__input form__input--name">
            <div class="form__input-label">Введите ваше имя</div>
            <input class="form__input-field" type="text" name="client-name" id="client-name-business" placeholder="Ваше имя">
          </label>
          <label class="form__input form__input--tel">
            <div class="form__input-label">Ваш телефон</div>
            <input class="form__input-field" type="tel" name="client-phone" id="client-phone-business" placeholder="+7 (___) ___-__-__">
          </label>
          <div class="form__text">В каком мессенджере отправить файлы?</div>
          <div class="form__buttons form__buttons--business">
            <label>
              <input class="visually-hidden" type="radio" name="social" id="social-tg-business" checked>
              <div class="form__button social-button social-button--tg">
                Telegram
                <svg class="social-button__icon">
                  <use xlink:href="img/sprite.svg#tg-button-icon"></use>
                </svg>
              </div>
            </label>
            <label>
              <input class="visually-hidden" type="radio" name="social" id="social-wa-business">
              <div class="form__button social-button social-button--wa">
                Whatsapp
                <svg class="social-button__icon">
                  <use xlink:href="img/sprite.svg#wa-button-icon"></use>
                </svg>
              </div>
            </label>
          </div>
          <button class="btn-reset button button--main form__button-submit">
            Получить сейчас
          </button>
          <label class="form__checkbox">
            <input class="form__checkbox-input visually-hidden" type="checkbox" name="checkbox-rule" id="checkbox-rule-business" checked>
            <span class="form__checkbox-label">Вы соглашаетесь на условия обработки персональных данных</span>
          </label>
        </form>
      </div>
    </div>
    <div class="graph-modal__container modal modal--consulting" role="dialog" aria-modal="true" data-graph-target="consulting">
      <button class="js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
      <div class="graph-modal__content modal__content">
        <form class="modal__form form" action="#" id="modal-consulting">
          <div class="form__subtitle">Наш менеджер свяжется с вами<br>в течение 5 минут</div>
          <label class="form__input form__input--name">
            <div class="form__input-label">Введите ваше имя</div>
            <input class="form__input-field" type="text" name="client-name" id="client-name-consulting" placeholder="Ваше имя">
          </label>
          <label class="form__input form__input--tel">
            <div class="form__input-label">Ваш телефон</div>
            <input class="form__input-field" type="tel" name="client-phone" id="client-phone-consulting" placeholder="+7 (___) ___-__-__">
          </label>
          <div class="form__text">В каком мессенджере удобнее общаться?</div>
          <div class="form__buttons form__buttons--consulting">
            <label>
              <input class="visually-hidden" type="radio" name="social" id="social-tg-consulting" checked>
              <div class="form__button social-button social-button--tg">
                Telegram
                <svg class="social-button__icon">
                  <use xlink:href="img/sprite.svg#tg-button-icon"></use>
                </svg>
              </div>
            </label>
            <label>
              <input class="visually-hidden" type="radio" name="social" id="social-wa-consulting">
              <div class="form__button social-button social-button--wa">
                Whatsapp
                <svg class="social-button__icon">
                  <use xlink:href="img/sprite.svg#wa-button-icon"></use>
                </svg>
              </div>
            </label>
          </div>
          <button class="btn-reset button button--main form__button-submit">
            Проконсультироваться
          </button>
          <label class="form__checkbox">
            <input class="form__checkbox-input visually-hidden" type="checkbox" name="checkbox-rule" id="checkbox-rule-consulting" checked>
            <span class="form__checkbox-label">Вы соглашаетесь на условия обработки персональных данных</span>
          </label>
        </form>
      </div>
    </div>
    <div class="graph-modal__container modal modal--city" role="dialog" aria-modal="true" data-graph-target="city">
      <button class="js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
      <div class="graph-modal__content modal__content">
        <form class="modal__form form" action="#" id="modal-city">
          <div class="form__subtitle">Наш менеджер свяжется с вами<br>в течение 5 минут</div>
          <label class="form__input form__input--name">
            <div class="form__input-label">Введите ваше имя</div>
            <input class="form__input-field" type="text" name="client-name" id="client-name-city" placeholder="Ваше имя">
          </label>
          <label class="form__input form__input--tel">
            <div class="form__input-label">Ваш телефон</div>
            <input class="form__input-field" type="tel" name="client-phone" id="client-phone-city" placeholder="+7 (___) ___-__-__">
          </label>
          <div class="form__text">В каком мессенджере удобнее узнать?</div>
          <div class="form__buttons form__buttons--city">
            <label>
              <input class="visually-hidden" type="radio" name="social" id="social-tg-city" checked>
              <div class="form__button social-button social-button--tg">
                Telegram
                <svg class="social-button__icon">
                  <use xlink:href="img/sprite.svg#tg-button-icon"></use>
                </svg>
              </div>
            </label>
            <label>
              <input class="visually-hidden" type="radio" name="social" id="social-wa-city">
              <div class="form__button social-button social-button--wa">
                Whatsapp
                <svg class="social-button__icon">
                  <use xlink:href="img/sprite.svg#wa-button-icon"></use>
                </svg>
              </div>
            </label>
          </div>
          <button class="btn-reset button button--main form__button-submit">
            Узнать про мой город
          </button>
          <label class="form__checkbox">
            <input class="form__checkbox-input visually-hidden" type="checkbox" name="checkbox-rule" id="checkbox-rule-city" checked>
            <span class="form__checkbox-label">Вы соглашаетесь на условия обработки персональных данных</span>
          </label>
        </form>
      </div>
    </div>
  </div>
</section>
