<section class="review" id="review">
  <div class="container review__container">
    <h2 data-aos="fade-up" class="section-title review__title">примеры и результаты запуска тех, кто уже с нами</h2>
    <div class="review__slider-wrapper">
      <div class="swiper-pagination"></div>
      <div class="review__cards swiper">

        <div class="review__cards-wrapper swiper-wrapper">
          <div class="review__card swiper-slide">
            <picture>
              <source srcset="img/review__image-1.avif" type="image/avif">
              <source srcset="img/review__image-1.webp" type="image/webp">
              <img loading="lazy" src="img/review__image-1.jpg" class="review__card-image" width="400" height="315" alt="Видео отзыв город Зерноград">
            </picture>
            <div class="review__card-control">
              <div class="review__card-city">
                г.Зерноград
                <span>Партнер с 2019 года</span>
              </div>
              <!-- TODO: Добавить пути к видео -->
              <button class="btn-reset review__card-button" data-graph-path="video-review-1">
                <span class="review__card-button--decor"></span>
              </button>
            </div>
            <div class="review__card-total">
              <table class="review__card-table">
                <tr class="review__card-table-row">
                  <td class="review__card-table-key">Прибыль за 2021 год </td>
                  <td class="review__card-table-value review__card-table-value--bold">3,1 млн Р</td>
                </tr>
                <tr class="review__card-table-row">
                  <td class="review__card-table-key">Окупаемость</td>
                  <td class="review__card-table-value">6,5 мес.</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="review__card swiper-slide">
            <picture>
              <source srcset="img/review__image-1.avif" type="image/avif">
              <source srcset="img/review__image-1.webp" type="image/webp">
              <img loading="lazy" src="img/review__image-1.jpg" class="review__card-image" width="400" height="315" alt="Видео отзыв город Зерноград">
            </picture>
            <div class="review__card-control">
              <div class="review__card-city">
                г.Самара
                <span>Партнер с 2022 года</span>
              </div>
              <!-- TODO: Добавить пути к видео -->
              <button class="btn-reset review__card-button" data-graph-path="video-review-1"></button>
            </div>
            <div class="review__card-total">
              <table class="review__card-table">
                <tr class="review__card-table-row">
                  <td class="review__card-table-key">Плановая прибыль </td>
                  <td class="review__card-table-value review__card-table-value--bold">2,5 млн Р</td>
                </tr>
                <tr class="review__card-table-row">
                  <td class="review__card-table-key">Окупаемость</td>
                  <td class="review__card-table-value">7,0 мес.</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="review__card swiper-slide">
            <picture>
              <source srcset="img/review__image-1.avif" type="image/avif">
              <source srcset="img/review__image-1.webp" type="image/webp">
              <img loading="lazy" src="img/review__image-1.jpg" class="review__card-image" width="400" height="315" alt="Видео отзыв город Зерноград">
            </picture>
            <div class="review__card-control">
              <div class="review__card-city">
                ст.Егорлыкская
                <span>Партнер с 2022 года</span>
              </div>
              <!-- TODO: Добавить пути к видео -->
              <button class="btn-reset review__card-button" data-graph-path="video-review-1"></button>
            </div>
            <div class="review__card-total">
              <table class="review__card-table">
                <tr class="review__card-table-row">
                  <td class="review__card-table-key">Плановая прибыль </td>
                  <td class="review__card-table-value review__card-table-value--bold">1,8 млн Р</td>
                </tr>
                <tr class="review__card-table-row">
                  <td class="review__card-table-key">Окупаемость</td>
                  <td class="review__card-table-value">6,0 мес.</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev">
        <svg class="swiper-button-icon">
          <use xlink:href="img/sprite.svg#slider-prev"></use>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg class="swiper-button-icon">
          <use xlink:href="img/sprite.svg#slider-next"></use>
        </svg>
      </div>
    </div>
    <div class="review__button-wrapper">
      <div class="button__wrapper review__button">
        <button class="btn-reset button button--main" data-graph-path="presentation">
          Хочу так же
        </button>
      </div>
    </div>
  </div>
</section>
